@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.box {
  width: 150px;
  height: 150px;
  border-radius: 1em;
  background-color: #f9f07e;
  margin-left: auto;
  margin-right: auto;
}

.input-box:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: #a3e635 !important;
  color: #a3e635 !important;
  background-color: transparent !important;
  background-clip: border-box !important;
  transition: background-color 5000s ease-in-out 0s !important;
  font-size: 12px !important;
}
.admin-code-page:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: #fff !important;
  color: #fff !important;
  background-color: transparent !important;
  background-clip: border-box !important;
  transition: background-color 5000s ease-in-out 0s !important;
  font-size: 36px !important;
}

::-webkit-scrollbar {
  width: 8px; /* Adjust the width as needed */
}

/* Track */
::-webkit-scrollbar-track {
  background: #0d0d0d; /* Background color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #505059; /* Color of the scrollbar handle */
  border-radius: 10px; /* Rounded corners of the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #505059; /* Color when hovering over the handle */
}
